body,html{
	margin:0;
	padding: 0;
}

header{
	background-image: url("../img/hello.png");
	min-height: 100px;

}

header > p {
  font-size: 40px;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
	 text-align:center;
}

.content{
   margin: 2%;
}

.titrelien{
   color:white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.titreAccueil {
	text-align: center;
}

.bienvenue {
	text-align: center;
}

.tableauUser tr:hover{
   background-color:rgb(169, 234, 254);
   cursor:pointer;
}

.tableauCV {
}

.formConnection{
   margin-left: 1%;
   font-size: 25%;
}
.formConnection > input{
   color:black;
}

.titreInscription {
	text-align: center;
	color: black;
}

.monCV {
	text-align: center;
	margin: 3px;

}

.contenuCV {
	text-align: center;
	margin: 3px;
}


nav ul{
  margin:0;
  padding:0;
}

li{
  width: 25%;
  /*getting rid of the ghost                   space*/
  float: left;
  display:inline-block;
  padding:20px 0;
  text-align:center;
  font-family:sans-serif;
}

.experience{
  background: #BAE8C2;
}
.competence{
  background:#FFF5C5;
}

.formation{
  background:#E8CDC7;
}
.contact{
  background:#ECDAFF;
}

#boutonPlus {
	margin: -50%;
}
